[epydoc]

modules: echonest, pyechonest

output: html

target: apidocs

docformat: restructuredtext

# name: The Echo Nest Remix API

url: http://code.google.com/p/echo-nest-remix/

css: grayscale

# top: echonest.audio

graph: all

