#swf {
    width: 100%;
}

#progress-wrapper {
    height: 20px;
    background-color: #222222;
}

#progress {
    height: 100%;
    background-color: #00aeef;
    width: 50%;
}

textarea {
    width: 100%;
    font-family: monospace;
    font-size: 14px;
}
